.header-div {
  width: 400px;
  height: 100px;
  background-color: #ff0000;
}

.main-div {
  width: 250px;
}

.main-div.left {
  float: left;
  width: 150px;
  height: 250px;
  background-color: #00ff1e;
}

.main-div.right {
  float: left;
  width: 250px;
  height: 250px;
  background-color: #3300ff;
}

.footer-div {
  width: 400px;
  height: 100px;
  background-color: #ffe600;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
